
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header {
  background-image: url('./../assets/fondo_home.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.text_tittle {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 60px;
  color: white;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.text {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  color: white;
}
.icono {
  display: block;
  margin: 0 auto;
}
.fondo {
  background-image: url('./../assets/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;  
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #003D63;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1050; /* Añadido para asegurar que esté encima */
}

.floating-button:hover {
  background-color: #003D63;
}

.notification-list {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 10px;
  border-radius: 8px;
}

/* Estilos para el checkbox */
.custom-checkbox .form-check-label {
  font-family: 'Arial', sans-serif; /* Fuente */
  color: white; /* Texto blanco */
  font-size: 15px; /* Tamaño de letra */
}

/* Cambiar color del checkbox al estar seleccionado */
.custom-checkbox .form-check-input:checked {
  background-color: #007bff; /* Color de fondo cuando está marcado */
  border-color: #007bff; /* Borde del checkbox */
}

.back-checkbox {
  background-color: #343a40; /* Fondo oscuro */
  padding: 8px; /* Espaciado alrededor del checkbox */
  border-radius: 5px; /* Bordes redondeados */
}